{% extends "base.html" %}
{% load i18n %}
{%load crispy_forms_tags%}
{% block title %}Enter new password{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			
		</div>
		<div class="col-sm-6">
			<br>
			<h3>Password Confirmation</h3>
		<form method="post" action=".">
		  {% csrf_token %} 
		  {{ form|crispy }}
		  <input class="btn btn-info" type="submit" value="{% trans 'confirm password' %}" />
		</form>
		</div>
		<div class="col-sm-3">
			
		</div>
	</div>
</div>
{% endblock %}