<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
    		    <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python36\python.exe|&quot;C:\Program Files\Python36\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		  <security>
    <requestFiltering>
    <!--   Use this below setting if your URL is very long   -->
      <requestLimits maxQueryString="9999" />
    </requestFiltering>
  </security>
	</system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="example_project.wsgi.application" />
		<add key="PYTHONPATH" value="C:\inetpub\wwwroot\example_project" />
		<add key="DJANGO_SETTINGS_MODULE" value="example_project.settings" />
	</appSettings>
</configuration>